/*
Cargan estilos por defecto
Cargan estilos del usuario
Cargan los estilos que escribimos

nombre del elemento o selector{
propiedad: valor;
}
*/
*{
margin:0;
padding:0;
}
body{
font-size: 20px;
}
.fig-cabecera{
	margin-top: 10px;
	display: inline-block;
	float: left;
}
#cabecera-principal{
	width: 100%;
	height: 200px;
	background: #BDBDBD;
	display:inline-block;
	border: 1px solid;
}

h1{
/*RGB*/
color:#585858;
/*width: 512px; /* esto es una unidad de medida que no es 100% dinamica*/
display: inline-block;
margin-top: 50px;
margin-left: 100px;
/* margin: arriba derecha abajo izq;
margin: arriba/abajo derecha/izq;*/
}
#navegacion{
width: 800px;
background: #424242;
margin: auto;
padding: 10px;
border-radius: 10px;
}
#navegacion li{
	border-radius: 10px;
	display: inline-block;
	
}
#navegacion li a{
	text-decoration: none;
	color: #BDBDBD;
	padding: 10px;
	margin-left: 80px;
}
#navegacion li a:hover {
background-color:#FFFFFF;
}
#contenedor{
width: 820px;
background:#FFFFFF; 
height: 500px;
margin: auto;
border-radius: 10px;
border:1px solid black;
}
.post{
	width: 810px;
	height: 100px;
	background:#FAFAFA;
	margin:auto;
	border-radius: 20px;
    margin-top: 50px;

}
#pie{
	width: 820px;
	height: 40px;
	background:#FAFAFA; 
	margin: auto;
	text-align: center;
	border:1px solid black;
	border-radius: 10px;
	font-size:12px;
}
.logo-post{
display: inline-block;
	
}
.post-title{
margin-left: 150px;
display: inline-block;
}
.post-description{
	display: inline-block;
}
.post-vote-up{
display: inline-block;
}
.post-vote-down{
	display: inline-block;
	text-decoration: none;
}
.cont-form{
	margin: 20px;
	background:#F2F2F2;
	border-radius: 10px;
}
.cont-form h2{
	text-align: center;
	width: 250px;
	background:#00BFFF;
	color:#1C1C1C;
	margin:auto ;
	padding:3px ;
	border-radius: 5px;
	margin: 1px solid;

}
.cont-form ul{
	width:750px;
    list-style-type:none;
}
.cont-form li
{
	padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.cont-form label{
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}