.cabecera {
  width: 1000px;
  height: 200px;
  background: #a4a4a4;
  display: inline-block;
  margin-left: 180px;
}
.izquierda {
  margin-top: 100px;
  display: inline-block;
}
.titulo {
  display: inline-block;
  margin-left: 180px;
}
.navegacion {
  background: #e6e6e6;
  width: 1000px;
  margin-left: 180px;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
  padding: 5px;
  margin-left: 80px;
}
a {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
}
.contenedor {
  width: 1000px;
  height: 800px;
  background: #a4a4a4;
  margin-left: 180px;
}
.cuadro-info {
  width: 900px;
  height: 200px;
  margin: 2px;
  margin: auto;
}
.pie {
  width: 1000px;
  height: 50px;
  background: #fff;
  margin-left: 180px;
  font-size: 12px;
  text-align: center;
}
.imagen1 {
  margin-top: 25px;
  margin-left: 5px;
}
