@import 'variables'
.cabecera 
	width $ancho-grueso
	height $altura-cabecera
	background $color-fondos
	display inline-block
	margin-left 180px


.izquierda
	 margin-top 100px
	 display inline-block
	 
.titulo
	 display inline-block
	 margin-left 180px
.navegacion
	background $crema
	width $ancho-grueso
	margin-left 180px

ul 
	display inline-block
li
	display inline-block
	padding 5px
	margin-left 80px
a 
	text-decoration none
	color $colorlink
	font-size 20px

.contenedor
	width $ancho-grueso
	height 800px
	background $color-fondos
	margin-left 180px
	
.cuadro-info
	width 900px
	height 200px
	margin 2px
	margin auto
	

.pie
	width $ancho-grueso
	height 50px
	background $colorpie
	margin-left 180px
	font-size 12px
	text-align center

.imagen1
	margin-top 25px
	margin-left 5px
	