*{
	margin: 0px;
	padding: 0px;
}
.columna{
	width: 1000px;
	height: 200px;
	background:;
}
.row{
	margin-left: 200px;
}
.imagen-principal{
	margin-right: 600px;
	display: inline-block;
}
.redes{
	margin-left: 600px;
	margin-top: 40px;
	display: inline-block;

}
.navbar-nav{

}
.navbar-nav li{
margin-left: 80px;
}
.navbar-nav li a:hover{
	background: #A4A4A4;
}
.contenedor-1{
	background:#FAFAFA;
	width: 1000px;
	height: 1000px;
	border-radius: 5px;
	margin: 0 auto;
}
.pie{
	background:#A4A4A4;
	width: 1000px;
	height: 100px; 
	text-align: center;
	margin-left:200px;
}
.cuadro-1{
	background:;
    width: 950px;
    height: 250px;
    margin: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font: 1em arial, helvetica, sans-serif;
}
.imagen-principal{
	margin: 0px;
	width: 40px;
	
}
.control-img{
	display: inline-block;
	margin-top:;
	
}
.parrafo{
	display: inline-block;
	margin-left: 200px;
	
}
.titulo-ubunto{
	text-align: center;
}
.linea{
	color: red;
}